* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  color: white;
  font-size: 80px;
  text-shadow: 5px 5px black;
}
header {
  background-image: url(../img/design1_image2.jpg);
  background-size: cover;
  background-position: center center;
  max-width: 100%;
  min-height: 40vh;
  max-height: 40vh;
  text-align: center;
}

div {
  display: inline-block;
}
.container {
  background-color: black;
  height: 80px;
  width: 100%;
  color: white;
  text-align: center;
}

#logo {
  height: 80px;

  padding-left: 30px;
}

#subtitulo {
  width: 300px;

  text-align: center;
  margin-left: 160px;
  margin: 0px auto;
}

main {
  text-align: center;
}
nav {
  display: inline-block;
}

a[href="#"] {
  color: black;
  text-decoration: none;
}
nav > a {
  display: block;
  width: 200px;
  margin: 2rem;
  text-align: center;
}

article {
  display: inline;
}

article > div {
  margin: 0px auto;
}

article > img {
  height: 500px;
}

div > p {
  margin-bottom: 5px;
}

.container-events {
  display: block;
  text-align: left;
  margin: 30px;
}
