* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
}

h1 {
  color: white;
  font-size: 55px;
  text-shadow: 5px 5px black;
}

.p-events {
  margin-left: 28px;
  margin-top: 5px;
}
header {
  background-image: url(../img/design1_image2.jpg);
  background-size: cover;
  background-position: 0 30%;
  max-width: 100%;
  min-height: 40vh;
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container-text-logo {
  background-color: black;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 30px;
}

#logo {
  height: 90px;
  position: relative;
  right: 10rem;
}

#subtitulo {
  width: 300px;
  flex: 1;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  flex-basis: 50%;
  padding-bottom: 5rem;
  flex-grow: 1;
  align-items: center;
}
nav {
  margin-top: 0.6rem;
}

.nav-a {
  top: -510px;
}

.nav-c {
  top: -270px;
}

a[href="#"] {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
nav > a {
  display: flex;
  font-size: 18px;
  margin: 2rem;
  flex-direction: column;
  color: #eac100;
}

main > img {
  max-height: 25rem;
  max-width: 40rem;
  object-fit: cover;
}

.container-events,
.container-about,
.container-contact {
  margin: 15px;
  width: 660px;
  color: white;
}

#imgAbout {
  background-position: 0 20% !important;
}
p > a {
  color: #eac100;
}

.paragraph-contact {
  margin-top: 20px;
}

.container-nav-main {
  display: flex;
  background-image: url(../img/backgroundGames.svg);
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.container-list {
  margin: 3rem;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  text-align: justify;
}

.section-rules {
  width: 70vw;
  margin: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

dt {
  font-weight: bold;
  margin: 2rem;
}

dd {
  margin: 2rem;
}

dl,
ol {
  margin: 1rem 0 1rem;
}

ul,
li {
  margin: 2rem;
}

ol > li {
  margin: 2rem;
}

#subRules {
  margin: 2rem;
}

.section-tables {
  display: flex;
  flex-direction: column;
  align-items: center;
}
table {
  border-collapse: collapse;
  table-layout: auto;
  width: 50rem;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}

caption {
  color: white;
  text-align: left;
  text-decoration: underline;
  padding: 2rem 0 2rem 0;
}

th,
td {
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
  text-align: center;
  color: white;
}

thead {
  background-color: #eac100;
  font-weight: bolder;
}

.container-additional {
  margin: 3rem;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  border-radius: 1.5rem;
}

.container-additional > p {
  margin: 1.5rem;
  color: rgb(219, 216, 216);
}

#gamesBackground {
  background-image: url(../img/backgroundGames.svg);
}

#tableTitle {
  color: white;
  margin-top: 3rem;
}

#headerForm {
  color: white;
  text-align: center;
  font-size: 25px;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

#formRegistration {
  width: 55rem;
}

form {
  color: white;
  background-color: #002132;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 2rem;
  box-shadow: 5px 5px 10px 1px #000;
  flex-wrap: wrap;
}

form > fieldset {
  height: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;

  background-color: rgba(17, 25, 40, 0.56);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

legend {
  font-size: 20px;
  font-weight: bolder;
}

#streetAddress {
  width: 30rem;
}
input,
label {
  border-radius: 1rem;
  font-size: 18px;
}

input {
  accent-color: #eac100;
  padding-left: 1rem;
}

input:focus {
  text-align: center;
  border-color: #eac100;
  outline: none;
}

select {
  font-size: 18px;
  width: 15rem;
  text-align: center;
}

#fieldsetSizes {
  height: auto;
}

#fieldsetPermission {
  height: auto;
  padding: 1rem;
  text-align: justify;
}

#fieldsetPermission > input {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid white;
}

#fieldsetSchool,
#fieldsetPosition {
  height: 6rem;
}

#fieldsetSignature {
  margin-top: 1.5rem;
  border: none;
}

#fieldsetSignature > input {
  color: white;
  width: 30rem;
  margin: 0.5rem;
  border: none;
  border-radius: 0;
  border-bottom: 1px white solid;
  background-color: transparent;
}
#dateSignature {
  width: 15rem !important;
  color: white !important;
}

#buttonSubmit {
  height: 2.5rem;
  width: 40rem;
  margin: 0 auto;
  margin-top: 2rem;
}
