* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  /* width: 100vw; */
  height: 100vh;
}

h1 {
  color: white;
  font-size: 55px;
  text-shadow: 5px 5px black;
}

.p-events {
  margin-left: 28px;
  margin-top: 5px;
}
header {
  background-image: url(../img/design1_image2.jpg);
  background-size: cover;
  background-position: 0 30%;
  max-width: 100%;
  min-height: 40vh;
  max-height: 20vh;
  text-align: center;
}

.container-text-logo {
  background-color: black;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 30px;
}

#logo {
  height: 90px;
  position: relative;
  right: 10rem;
}

#subtitulo {
  width: 300px;
  flex: 1;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
nav {
  margin-top: 0.6rem;
}

.nav-a {
  top: -510px;
}

.nav-c {
  top: -270px;
}

a[href="#"] {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
nav > a {
  display: flex;
  font-size: 18px;
  margin: 2rem;
  flex-direction: column;
  color: #eac100;
}

main > img {
  height: 20rem;
  object-fit: cover;
}

.container-events,
.container-about,
.container-contact {
  margin: 30px;
  width: 660px;
}

.paragraph-contact {
  margin-top: 20px;
}

.container-nav-main {
  /* text-align: center; */
  display: flex;
  justify-content: center;
}

.container-list {
  margin: 3rem;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}

.section-rules {
  width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

dt {
  font-weight: bold;
}

#rulesBackground {
  background-image: url(../img/hockeyPrueba.jpg);
}

.section-tables {
  display: flex;
  flex-direction: column;
  align-items: center;
}
table {
  border-collapse: collapse;
  table-layout: auto;
  width: 50rem;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}

caption {
  color: white;
  text-align: left;
  text-decoration: underline;
  padding: 2rem 0 2rem 0;
}

th,
td {
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
  text-align: center;
  color: white;
}

thead {
  background-color: #eac100;
  font-weight: bolder;
}

.container-additional {
  margin: 3rem;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  border-radius: 1.5rem;
}

.container-additional > p {
  margin: 1.5rem;
  color: rgb(219, 216, 216);
}

#gamesBackground {
  background-image: url(../img/backgroundGames.svg);
}

#table-title {
  color: white;
  margin-top: 3rem;
}
